<div class="row">
<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
  <br>
  <% if entries.empty? %>
  <div class="well">
    <p class="text-center"><strong><em>No unread entries at this time</em></strong></p>
  </div>
  <% end %>
  <% entries.each do |entry| %>
    <div class="well" id="entry-well-<%= entry.id %>">
    <h4><%= link_to entry.title, entry.url %></h4>
    <% unless entry.author.nil? %>
    <p class="entry-author"><span class="glyphicon glyphicon-user"></span> <%= entry.author.html_safe %></p>
    <% end %>
    <p class="entry-timestamp"><span class="glyphicon glyphicon-time"></span> <%= entry.datetime.to_formatted_s(:superscription_custom) %></p>
    <% if show_subscription %>
      <p class="entry-subscription"><span class="glyphicon glyphicon-book"></span> from <em><%= entry.subscription.title %></em></p>
    <% end %>
    <% unless entry.content.nil? %>
      <div class="entry-content" data-id="<%= entry.id %>">
        <%= entry.content.html_safe %>
      </div>
    <% else %>
      <div class="entry-description" data-id="<%= entry.id %>">
        <%= entry.description.html_safe %>
      </div>
    <% end %>
    <% if read_marking %>
        <br><%= button_to "Mark as Read ✔", api_readings_url, :data => {:id => entry.id}, :class => "mark-as-read" %>
    <% end %>
    </div>
  <% end %>
</div>
</div>