<div class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
  <div class="row">
    <div class="col-md-3">
    <span class="superscription-site-title">
      <p class="superscription-brand">Superscription</p>
      <p class="header-subtext"><em>an RSS subscription manager</em></p>
    </span>
    </div>

    <div class="col-md-9">
      <!-- This is unspeakably awful but seems to work: --> &nbsp;<br>
    <span class="superscription-nav-button-group">
    <% if current_user %>
      <%= button_to "Read!", read_url, :method => :get %>
      <%= button_to "My Subscriptions", user_subscriptions_url(current_user.id), :method => :get %>
      <%= button_to "Sign out", destroy_user_session_url, :method => :delete %>
      <% else %>
      <%= button_to "Sign up", new_user_registration_url, :method => :get %>
      <%= button_to "Sign in", new_user_session_url, :method => :get  %>
      <% end %>
    </span>

    <p style="color: #DDDDDD; margin-top: 10px; margin-left: 15px;">
      <% if current_user %>
        logged in as <strong><%= current_user.username %></strong> <a href="/users/edit"><span class="glyphicon glyphicon-edit"></span></a>
      <% else %>
        not logged in
      <% end %>
    </p>
  </div>

  </div>
  </div>

</div>
</div>
